@charset "UTF-8";

.header{
	background-color: gray;
display: inline-block;
padding: 10px;
width:100%;
color: white;
}

.main{
	padding-top: 50px;
padding-bottom: 50px;
}

.footer{
	background-color: gray;
display: inline-block;
padding: 10px;
width:100%;
color: white;
}