.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.box1{
    width: 160px;
    height: 60px;
    background-color: white;
    display: flex;
    position: absolute;
    margin: 20px 20px 10px 220px;
}
.box2{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    margin: 10px 10px;
}

/* .main{
    width: 400px;
    height: 250px;
    background-color: yellow;
} */

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right{
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}
.rightin{
    padding: 40px 60px 40px 40px;
}
.rigbox1{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background-color: #ff863f;
    border: 5px solid white;
    margin-bottom: 10px;
}
.rigbox2{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background-color: #ff863f;
    border: 5px solid white;
    margin-bottom: 10px;
}
.rigbox3{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background-color: #ff863f;
    border: 5px solid white;
}

.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}